* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.--box-booklist {
	margin: 50px;
	background-color: hotpink;
	width: fit-content;
	padding: 20px;
}
.--box-booklist:hover {
	color: white;
}
